*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #dbdbdb;
}
main {
    width: 794px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0px;
}
#myImage {
    width: 100%;
    height: auto;
}
#imageContainer {
    margin: 15px;
    display: inline-block;
    position: relative;
    width: 150px; 
    height: 150px; 
    overflow: hidden;
    border-radius: 50%;
}
.topLeft {
    text-align: center;
    background-color: #1e211f;
    color: #fff;
    padding-bottom: 11px;
    height: 300px;
    max-height: 300px;
}
.topLeft h1 {
    font-size: 35px;
}
.shortBio {
    margin: 0;
    background-color: #b1b5b2;
    text-align: center;
    height: 300px;
    max-height: 300px;
    padding-top: 7px;
    padding-left: 45px;
    padding-right: 45px;

}
.shortBio p {
    font-size: 20px;
    padding-top: 40px;
}
.leftSide{
    padding-left:50px;
    padding-right: 50px;
    background-color: #e8e6e6;
    margin: 0;
    padding-top: 50px;
    height: 700px;
}
.rightSide{
    padding-left:50px;
    padding-right: 50px;
    background-color: #ededed;
    margin: 0;
    padding-top: 50px;
    height: 700px;
}

hr{
    height: 10px;
    background-color: #000;
}
a {
     text-decoration: none;
    color: #000;
}
